<!--Assignment-->
body{
    margin: 0%;
    padding: 0%;
}
.header{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    height: 500px;
    background-size: 100%;
}
.world{
    text-align: center;
    max-width: 780px;
    margin-top: -300px;
    color: black;
}
.round img{
    padding: 0%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 150px;
}
.round{
    margin-left: 50%;
    margin-top: -30px;
}
h4{
    margin-right: 50px;
}
.list{
    margin-left: 20%;
    margin-top: 60px;
    max-width: 66.67%;
}
.Achievement{
    margin-left: 40px;
}
.UI-UX{
    margin-top: 20px;
}